<!DOCTYPE html>
<body>
  <!-- <app-following-ball></app-following-ball>
  mega ittitant met testen -->
  <div>
    <div style="height: 200px;"></div>
    <div>
      <app-moving-ball></app-moving-ball>
      Stap 1. Een bal heen en weer laten bewegen.
    </div>
    <div>
      <div>
        <app-bouncing-ball></app-bouncing-ball>
        Een bal laten stuiteren
      </div>
    </div>
    <div>
      een bal die je muis volgt
      <app-glaring-ball></app-glaring-ball>
    </div>
    <div>
      <p>
        week 2
      </p>    
      <p>
        een bal die naar je muis volgt poging 2
      </p>  
      <app-glaring-ball-try2></app-glaring-ball-try2>
      <app-glaring-ball-try3-squeeking></app-glaring-ball-try3-squeeking>
    </div>
  </div>
</body>