<div class="letter container" #lettersContainer>
  <div #letter class="letter">a</div>
  <div #letter class="letter">a</div>
  <div #letter class="letter">a</div>
  <div #letter class="letter">a</div>
  <div #letter class="letter">a</div>
  <div #letter class="letter">a</div>
  <div #letter class="letter">a</div>
  <div #letter class="letter">a</div>
  <div #letter class="letter">a</div>
  <div #letter class="letter">a</div>
  <div #letter class="letter">a</div>
  <div #letter class="letter">a</div>
  <div #letter class="letter">a</div>
  <div #letter class="letter">a</div>
</div>

