<button #button>
  <div class="flex flex-row p-4 text-center items-center">
    <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M18 16L22 12L18 8M6 8L2 12L6 16M14.5 4L9.5 20" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <div class="ml-2">
      Web vragen
    </div>
  </div>
  <div class="ml-2 text-[#808080]">
    👨‍💻 Kun je sites laten zien die gemaakt zijn door de studenten?
  </div>
</button>