<div class="text-[#C6E643] p-4">
  Als je portfolio's van de studenten wilt zien zien heb ik hier linkjes naar de verschillende leden!
</div>
<div class="flex flex-row justify-evenly p-4">
  <a href="vincent" class="text-[#C6E643] cursor-pointer underline">Vincent</a>
  <a href="theon" class="text-[#C6E643] cursor-pointer underline">Theon</a>
  <a href="ashray" class="text-[#C6E643] cursor-pointer underline">Ashray</a>
  <a href="mees" class="text-[#C6E643] cursor-pointer underline">Mees</a> 
</div>
