

body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family:  mono-spaced, sans-serif;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.letter {
  font-size: 48px;
  position: relative;
  top: 0;
  color: green
}
