<div class="accordion">
  <button (click)="toggleMenu()" class="accordion-toggle">Portfolios</button>
  <nav [class.open]="isMenuOpen">
    <a routerLink="/" routerLinkActive="active" href="/">Home</a>
    <a routerLink="/ashray" routerLinkActive="active" href="/ashray">Ashray</a>
    <a routerLink="/mees" routerLinkActive="active" href="/mees">Mees</a>
    <a routerLink="/theon" routerLinkActive="active" href="/theon">Theon</a>
    <a routerLink="/vincent" routerLinkActive="active" href="/vincent">Vincent</a>
    <a routerLink="/css-animations" routerLinkActive="active" href="/css-animations">CSS Animations</a>
    <a routerLink="/test-page" routerLinkActive="active" href="/test-page">Test Page</a>
  </nav>
</div>
