<div class="bg-[#0F2B0C] p-4">
  <div class="text-[#D3D3D3] mb-4">
    Deze vaardigheden zijn van {{ personName }}
  </div>
  <div class="text-[#C6E643] mb-4">
    Dit zijn de vaardigheden van {{ personName }}. Als je zijn vaardigheden in actie wilt zien bekijk zijn portfolio 
    <a class="underline" href="/theon">hier</a>
  </div>
  <div class="w-full max-w-xs mx-auto">
    <div *ngFor="let skill of currentSkills" class="mb-4">
      <div class="text-center text-[#D3D3D3]">{{ skill.name }}</div>
      <div class="flex flex-row">
        <img [src]="logoBaseUrl + skill.logo" alt="{{ skill.name }} logo" class="h-6 w-6">
        <div class="relative h-4 w-64 bg-gray-500 rounded-lg overflow-hidden mx-auto">
          <div class="absolute left-0 h-full bg-blue-500 transform origin-left" [style.width]="skill.level + '%'"></div>
        </div>
        <div class="text-center text-[#D3D3D3] items-center">{{ skill.level }}%</div>
      </div>
    </div>
    <div class="text-[#D3D3D3]">
      Vaardigheden inzien van andere personen?
      <div class="flex flex-row justify-evenly">
        <div class="text-[#C6E643] cursor-pointer" (click)="switchPerson('Vincent')">
          Vincent
        </div>
        <div class="text-[#C6E643] cursor-pointer" (click)="switchPerson('Theon')">
          Theon
        </div>
        <div class="text-[#C6E643] cursor-pointer" (click)="switchPerson('Ashray')">
          Ashray
        </div>
        <div class="text-[#C6E643] cursor-pointer" (click)="switchPerson('Mees')">
          Mees
        </div>
      </div>
    </div>
  </div>
</div>
