<!DOCTYPE html>
<div class="h-full bg-[#1F1F1F] flex items-center justify-center">
  <div class="w-11/12 flex flex-col items-center">
    <div class="self-start text-[#C6E643] font-serif" style="font-size: 200px;">AI Chat</div>
    <div class="items-center bg-[#575757] w-2/6 rounded-xl">
      <div class="w-4/6 mx-auto flex flex-col items-center">
        <div class="text-[#C6E643] text-9xl"> *</div>
        <div class="text-white text-6xl">Hoe kan ik je helpen?</div>
        <div class="text-[#a49393] text-2xl">Deze AI chat helpt jou de student te vinden die het beste bij jouw behoeften past.</div>
      </div>
    
      <div class="p-4 flex justify-between">
        <div class="w-4/12 h-full bg-[#969696] flex flex-col items-center justify-center text-white rounded-xl mr-2">
          <app-angle-brackets></app-angle-brackets>
          <div class="text-2xl">animatie hulp</div>
          <div class="text-[#D3D3D3]">Hier komt een kleine text</div>
        </div>
        <div class="w-4/12 h-full bg-[#969696] flex flex-col items-center justify-center text-white rounded-xl mr-2">
          <app-angle-brackets></app-angle-brackets>
          <div class="text-2xl">Design hulp</div>
          <div class="text-[#D3D3D3]">Hier komt een kleine text</div>
        </div>
        <div class="w-4/12 h-full bg-[#969696] flex flex-col items-center justify-center text-white rounded-xl">
          <app-angle-brackets></app-angle-brackets>
          <div class="text-2xl">Web / Codeer hulp</div>
          <div class="text-[#D3D3D3]">Hier komt een kleine text</div>
        </div>
      </div>
      <div class="flex w-11/12 items-center mx-auto bg-white rounded-lg mb-5 justify-between">
        <div class="ml-4 text-2xl flex flex-row" >
          <app-asterik></app-asterik>
          <div class="ml-2 text-2xl text-[#D3D3D3]">
            Type hier jouw vraag
          </div>

        </div>
       
        <div class="text-2xl">
          🟩
        </div>
      </div>
    </div>
  </div>
  <!-- <app-header></app-header>

  <div>
    user: Hello
  </div>
  <div>
    AI: Boo
  </div>
  <app-chat-log [userMessages]="userMessages" [aiMessages]="aiMessages"></app-chat-log>
  <app-message-component (messageSent)="onMessageSent($event)"></app-message-component>


  <h1 class="text-4xl font-bold underline">
    Hello world!
  </h1>  -->
</div>

