@keyframes subtleShake {
  0% { transform: translate(0, 0) rotate(0deg); }
  20% { transform: translate(-2px, -2px) rotate(-1deg); }
  40% { transform: translate(2px, 2px) rotate(1deg); }
  60% { transform: translate(-2px, 2px) rotate(-1deg); }
  80% { transform: translate(2px, -2px) rotate(1deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

img.shake-on-hover:hover {
  animation: subtleShake 0.5s linear infinite;
}

/* infinite rotater */
@keyframes rotateClockwise {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.rotater {
  animation: rotateClockwise 2s linear infinite;
}

.rotaterLeft {
  animation: rotateAntiClockwise 60s linear infinite;
}

@keyframes rotateAntiClockwise {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

.rotate-on-hover:hover {
  animation: rotateClockwise 2s linear;
} 

.autoHovering{
  animation: hover 3s infinite ease-in-out;
}

.autoHoveringRotating {
  animation: bigHover 3s infinite ease-in-out;
  animation: rotateClockwise 10 linear infinite;
}


@keyframes hover { 
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-100px);
  }
}


@keyframes hover { 
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

/* fonts */
.extended-bold {
  font-family: 'PPFormula', sans-serif;
  font-weight: 700;
}




.movex-on-hover:hover {
  animation: shakeX 0.5s linear;
}

@keyframes shakeX {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}


.spin-on-hover {
  transition: transform 0.3s ease; /* Add smooth transition */
}

.spin-on-hover:hover {
  animation: spin 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}