<!DOCTYPE html>
<div class="h-full bg-[#1F1F1F] flex items-center justify-center relative">
  <img #autoHovering class="falling absolute top-[1px] right-[550px] h-20 w-20 rotate-6" src="assets/logos/VueLogo.png">
  <img #autoHovering class="falling absolute top-[1px] right-[450px] h-20 w-20 rotate-6" src="assets/logos/VueLogo.png">
  <img #autoHovering class="falling absolute top-[3px] right-[650px] h-20 w-20 rotate-6" src="assets/logos/VueLogo.png">
  <img #autoHovering class="falling absolute top-[4px] right-[350px] h-20 w-20 rotate-6" src="assets/logos/VueLogo.png">
  <img #autoHovering class="falling absolute top-[5px] right-[250px] h-20 w-20 rotate-6" src="assets/logos/VueLogo.png">
  <img #autoHovering class="falling absolute top-[5px] right-[150px] h-20 w-20 rotate-6" src="assets/logos/AngularLogo.png">
  <img #autoHovering class="falling absolute top-[5px] right-[100px] h-20 w-20 rotate-6" src="assets/logos/AngularLogo.png">
  <img #autoHovering class="falling absolute top-[5px] right-[50px] h-20 w-20 rotate-6" src="assets/logos/AngularLogo.png">
  <img #autoHovering class="falling absolute top-[5px] right-[10px] h-20 w-20 rotate-6" src="assets/logos/AngularLogo.png">
  <img #autoHovering class="falling absolute top-[5px] left-[10px] h-20 w-20 rotate-6" src="assets/logos/HTMLLogo.png">
  <img #autoHovering class="falling absolute top-[5px] left-[150px] h-20 w-20 rotate-6" src="assets/logos/HTMLLogo.png">
  <img #autoHovering class="falling absolute top-[5px] left-[20px] h-20 w-20 rotate-6" src="assets/logos/HTMLLogo.png">
  <img #autoHovering class="falling absolute top-[5px] left-[250px] h-20 w-20 rotate-6" src="assets/logos/HTMLLogo.png">
  <img #autoHovering class="falling absolute top-[5px] left-[300px] h-20 w-20 rotate-6" src="assets/logos/HTMLLogo.png">
  <img #autoHovering class="falling absolute top-[5px] left-[350px] h-20 w-20 rotate-6" src="assets/logos/HTMLLogo.png">
  <img #autoHovering class="falling absolute top-[5px] left-[500px] h-20 w-20 rotate-6" src="assets/logos/CSSLogo.png">
  <img #autoHovering class="falling absolute top-[5px] left-[550px] h-20 w-20 rotate-6" src="assets/logos/CSSLogo.png">
  <img #autoHovering class="falling absolute top-[5px] left-[600px] h-20 w-20 rotate-6" src="assets/logos/CSSLogo.png">
  <img #autoHovering class="falling absolute top-[5px] left-[650px] h-20 w-20 rotate-6" src="assets/logos/CSSLogo.png">
  <img #autoHovering class="falling absolute top-[5px] left-[700px] h-20 w-20 rotate-6" src="assets/logos/CSSLogo.png">
  <img #autoHovering class="falling absolute top-[5px] left-[850px] h-20 w-20 rotate-6" src="assets/logos/JavaScriptLogo.png">
  <img #autoHovering class="falling absolute top-[5px] left-[880px] h-20 w-20 rotate-6" src="assets/logos/JavaScriptLogo.png">
  <img #autoHovering class="falling absolute top-[5px] left-[890px] h-20 w-20 rotate-6" src="assets/logos/JavaScriptLogo.png">
  <img #autoHovering class="falling absolute top-[5px] left-[900px] h-20 w-20 rotate-6" src="assets/logos/JavaScriptLogo.png">
  <img #autoHovering class="falling absolute top-[5px] left-[1200px] h-20 w-20 rotate-6" src="assets/logos/PythonLogo.png">
  <img #autoHovering class="falling absolute top-[5px] left-[1150px] h-20 w-20 rotate-6" src="assets/logos/PythonLogo.png">
  <img #autoHovering class="falling absolute top-[5px] left-[1250px] h-20 w-20 rotate-6" src="assets/logos/PythonLogo.png">
  <img #autoHovering class="falling absolute top-[5px] left-[1300px] h-20 w-20 rotate-6" src="assets/logos/PythonLogo.png">


  <img #autoHovering class="shake-on-hover autoHovering absolute top-2/4 left-16 h-20 w-20 rotate-6" src="assets/logos/VueLogo.png">
  <img #autoHovering class="shake-on-hover autoHovering absolute top-1/4 right-2/4 left-16 h-20 w-20 rotate-6" src="assets/logos/HTMLLogo.png">
  <img #autoHovering class="shake-on-hover autoHovering absolute h-20 w-20 rotate-6" src="assets/logos/AdobeXdLogo.png" style="left: 400px; top: 0px">
  <img #autoHovering class="shake-on-hover autoHovering absolute h-24 w-24 rotate-45" src="assets/logos/AngularLogo.png" style="left: 850px; top: 200px;">
  <img #autoHovering class="shake-on-hover autoHovering absolute w-20 hue-rotate-15" src="assets/logos/FigmaLogo.png" style="right: 100px; top: 20px;">
  <img #autoHovering class="shake-on-hover autoHovering absolute h-20 w-20 -rotate-3" src="assets/logos/PythonLogo.png" style="left: 600px; top: 5px;">
  <img #autoHovering class="shake-on-hover autoHovering absolute h-20 w-20 -rotate-12" src="assets/logos/AdobeIllustratorLogo.png" style="left: 90vw; top: 800px;">
  <img class="rotater absolute h-20 w-20 rotate-6" src="assets/logos/ReactLogo.png" style="left: 1100px; top: 200px">
  <!-- top-[200px] alternatief voor tailwind -->
  <div class="w-11/12 flex flex-col items-center">
    <div class="extended-bold self-start text-[#C6E643] font-serif" style="font-size: 200px;">AI Chat</div>
    <div class="items-center bg-[rgb(87,87,87)] w-3/6 rounded-xl p-4">
      <div *ngIf="userMessages.length == 0; else chatContent">
        <div class="w-5/6 mx-auto flex flex-col items-center">
          <app-glaring-ball4/>
          <!-- <app-asterik class="rotaterLeft" width="100" height="100"></app-asterik> -->
          <div class="items-start">
            <p class="text-white text-6xl">Hoe kan ik je helpen?</p>
            <p class="text-[#a49393] text-2xl">Deze AI chat helpt jou de student te vinden die het beste bij jouw behoeften past.</p>
          </div>
        </div>
      
        <div class="p-4 h-48 flex justify-between">
          <div class="w-4/12 h-full bg-[#969696] flex flex-col items-center justify-center text-white rounded-xl mr-2" (click)="onMessageSent('animatie hulp')">
            <app-animation-drawing/>
            <div class="text-2xl">animatie hulp</div>
            <div class="text-[#D3D3D3]">Hier komt een kleine text</div>
          </div>
          <div class="w-4/12 h-full bg-[#969696] flex flex-col items-center justify-center text-white rounded-xl mr-2" (click)="onMessageSent('Design hulp hulp')">
            <app-design-pencil/>
            <div class="text-2xl">Design hulp</div>
            <div class="text-[#D3D3D3]">Hier komt een kleine text</div>
          </div>
          <div class="w-4/12 h-full bg-[#969696] flex flex-col items-center justify-center text-white rounded-xl" (click)="onMessageSent('Web / Code hulp')">
            <app-angle-brackets/>
            <div class="text-2xl">Web / Code hulp</div>
            <div class="text-[#D3D3D3]">Hier komt een kleine text</div>
          </div>
        </div>
        <app-message-component (messageSent)="onMessageSent($event)"></app-message-component>
      </div>


      <ng-template #chatContent>
        <app-chat-log [userMessages]="userMessages" [aiMessages]="aiMessages"></app-chat-log>
        <app-message-component (messageSent)="onMessageSent($event)"></app-message-component>
      </ng-template>
    </div>
 


    <div class="w-full bg-white mt-12 p-6"></div> <!-- Wit balkje -->

    <div class="relative w-full h-96 overflow-hidden">
      <img src="assets/fotos/Schoolmedia.png"/>
      <div class="w-full flex items-center justify-end p-6 absolute bottom-0 right-0">
        <div class="bg-white p-4 rounded-xl flex flex-row">
          <p class="font-bold text-center content-center mr-4 underline cursor-pointer text-2xl">Bekijk portfolio's</p>
          <app-arrow-button/>
        </div>
      </div>
    </div>


    <div class="w-full bg-white p-6">
      <div class="p-4 flex justify-evenly">
        <div class="flex flex-col items-center justify-center text-white rounded-xl mr-2">
          <div class="text-[#C6E643] text-8xl">AI Chat</div>
        </div>
        <div class="h-full flex flex-col  text-white rounded-xl mr-2">
          <div class="text-[#072807] text-2xl">Portfolio's</div>
          <div class="text-[#B9B9B9]">Theon</div>
          <div class="text-[#B9B9B9]">Ashray</div>
          <div class="text-[#B9B9B9]">Vincent</div>
          <div class="text-[#B9B9B9]">Mees</div>
        </div>
        <div class="h-full flex flex-col  text-white rounded-xl mr-2">
          <div class="text-[#072807] text-2xl">Over ons</div>
          <div class="text-[#B9B9B9]">Over ons</div>
          <div class="text-[#B9B9B9] underline">Onze school</div>
        </div>
        <div class="h-full flex flex-col  text-white rounded-xl mr-2">
          <div class="text-[#072807] text-2xl">Reverenties</div>
          <div class="text-[#B9B9B9]">ChatGPT</div>
          <div class="text-[#B9B9B9]">De Haagse Hogeschool</div>
        </div>       
      </div>
    </div>
  </div>
</div>