/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PPFormula';
  src: url('/assets/font/PPFormula-CondensedBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PPFormula';
  src: url('/assets/font/PPFormula-CondensedExtralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PPFormula';
  src: url('/assets/font/PPFormula-CondensedLightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'PPFormula';
  src: url('/assets/font/PPFormula-ExtendedBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PPFormula';
  src: url('/assets/font/PPFormula-ExtendedMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PPFormula';
  src: url('/assets/font/PPFormula-Extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'PPFormula';
  src: url('/assets/font/PPFormula-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PPFormula';
  src: url('/assets/font/PPFormula-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PPFormula';
  src: url('/assets/font/PPFormula-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'PPFormula';
  src: url('/assets/font/PPFormula-NarrowRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PPFormula';
  src: url('/assets/font/PPFormula-NarrowSemibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PPFormula';
  src: url('/assets/font/PPFormula-SemiCondensedExtralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PPFormula';
  src: url('/assets/font/PPFormula-SemiCondensedExtralightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'PPFormula';
  src: url('/assets/font/PPFormula-SemiCondensedMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PPFormula';
  src: url('/assets/font/PPFormula-SemiCondensedThin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PPFormula';
  src: url('/assets/font/PPFormula-SemiExtendedBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'PPFormula', sans-serif;
}
