<div style="background-color: black;">
  <div>
      Test component
      <app-yoyo-component></app-yoyo-component>
  </div>
  <div>
    Matrix number stap #1
    <app-tween-component></app-tween-component>
  </div>
  <div>
    Matrix Number stap #2
    <app-matrix-step2-letter></app-matrix-step2-letter>
  </div>
  <div>
    Matrix Number stap #3 <a href="https://gsap.com/resources/getting-started/Staggers/">stagger</a>
    <div>
      fout die ik eerst had gemaakt is dat ik de tekens naar beneden laat zakken maar er ontstaan nieuwe tekens en de oude verdwijnen.
    </div>
    <div style="flex-direction: row;">
      <app-matrix-step3-changing-text></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text></app-matrix-step3-changing-text>
    </div>
  </div>
</div>