<div>
  <!-- <div style="background-color: black;"> -->
  <div>
      Test component
      <app-yoyo-component></app-yoyo-component>
  </div>
  <div>
    Matrix number stap #1
    <app-tween-component></app-tween-component>
  </div>
  <div>
    Matrix Number stap #2
    <app-matrix-step2-letter></app-matrix-step2-letter>
  </div>
  <div>
    Matrix Number stap #3 <a href="https://gsap.com/resources/getting-started/Staggers/">stagger</a>
    <p>fout die ik eerst had gemaakt is dat ik de tekens naar beneden laat zakken maar er ontstaan nieuwe tekens en de oude verdwijnen.</p>
    <p>Eer is in deze stap veel verandert. Ik had eerst alleenn de letters 'aaaa' naar nummers aangepast. Dat uitzich zelf was niet een te grote aanpassing voor een 'stap'.</p>
    <p>Hoe ik het 'Matrix' effect heb toegepast is door twee animatie methodes.</p>
    <p>De eerste methode toont de animatie, dat de tekens zichtbaar worden met een willekeurige tijd(tussen 0,15 en 1,5 seconde) en een willekeurige tijd voordat de volgende annimatie begint(stagger tot Het volgende teken toont tussen 0,1 en 0,15 seconde).</p>
    <p>Omdat het voor ieder teken willekeurig is wanneer ze tevoorschijn tonen en voor hoelang zijn iedere keer alle tekens uniek gegenereerd.</p>
    <p>De tweede methode doet hetzelfde als de eerste maar daarmee wordt de zichtbaarheid steeds meer doorzichtig tot het verdwijnt. Precies omgekeerd dus.</p>
    <div class="flex container" style="background-color: black;">
      <!-- Need to figure out how to get Angular to take the full page and not every item the full width. -->
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text style="float: left;"></app-matrix-step3-changing-text>
      <app-matrix-step3-changing-text></app-matrix-step3-changing-text>
      
    </div>
  </div>
</div>