<div class="flex flex-row bg-white rounded-xl mb-5 items-center mx-4 justify-between">
  <div class="flex items-center"> <!-- Container for asterisk and input -->
    <app-asterik width="34" height="38" color="black" class="ml-4"></app-asterik>
    <input 
      type="text"
      [(ngModel)]="message" 
      (keyup.enter)="sendMessage()" 
      placeholder="Type hier jouw vraag" 
      style="outline: none;"
      class="text-2xl ml-2"
    />
  </div>
  <div>
    <app-arrow-button (click)="sendMessage()"/>
  </div> 
</div>
