<!DOCTYPE html>
<div class="h-screen bg-black flex items-center justify-center">
  <div class="relative w-full h-full bg-chat-bg4 bg-cover bg-center">
    <div class="glassmorphism absolute inset-0 m-12 p-4 rounded-xl">
      <div class="flex flex-col ml-96 my-3">
        <div class="flex flex-row items-center">
          <app-glaring-ball4 class="p-4 ml-4"/>
          <div class="extended-bold self-start text-white text-5xl pt-4 mb-4">AI MATCH</div>
          <div class="extended-bold self-start text-[#969696] text-center pt-4 ml-10 mb-4">← Terug naar home</div>
        </div>
        <div class="ml-8">
          <div class="text-5xl my-10 text-white"> Portfolio's</div>
        </div>
      </div>
      <div class="flex flex-col items-center justify-center"> <!-- This line alone makes the zoom in-out bad. Remove if bad on laptop-->
        <div class="flex flex-row">
          <a href="/theon">
            <img class="p-8 rounded-[50px]" src="assets/fotos/portfolioImages/TheonImage.png">
          </a>
          <a href="/mees">
            <img class="p-8 rounded-[50px]" src="assets/fotos/portfolioImages/MeesImage.png">
          </a>
        </div>
        <div class="flex flex-row">
          <a href="/ashray">
            <img class="p-8 rounded-[50px]" src="assets/fotos/portfolioImages/AshrayImage.png">
          </a>
          <a href="/vincent">
            <img class="p-8 rounded-[50px]" src="assets/fotos/portfolioImages/VincentImage.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>